/*************************
         BODY
**************************/

body{
  background-color:#FFAAAD;
  color:#FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Pacifico', cursive;
}

#logo {
  font-family: 'Pacifico', cursive;
}



/*************************
         TOP
**************************/

#top {
  height:257px;
  margin-top: 59.59px;
  display:inline-block;
  vertical-align:middle;
  float:none;
  background:#FFF;
  color:#BCBCBC;
}



/*************************
         NAVBAR
**************************/

#header {
  opacity:.9;
}



/*************************
         CAROUSEL
**************************/

.carousel {
  margin: 59.59px 0;
}

.carousel-caption {
  color: #000;
}

/*************************
         ABOUT
**************************/

#about {
  padding:59.59px 0;
  background:#FFF;
  color:#BCBCBC;
  display:block;
}



/*************************
         ORDER
**************************/

#order {
  padding:59.59px 0;
  background:#FFF;
  color:#BCBCBC;
}



/*************************
         GALLERY
**************************/

#gallery {
  padding:59.59px 0;
  display:block;
  float:left;
}

#gallery img {
  height:200px;
  width:200px;
}

#cakeGallery {
  display:none;
  text-align:center;
}

#cupcakeGallery {
  display:none;
  text-align:center;
}



/*************************
    LIGHTBOX OVERLAY
**************************/

#overlay {
  display:none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
}

#overlay img {
  max-width: 100%;
  max-height: 100%;
}

#overlay p {
  color: white;
}



/*************************
    BOTTOM SPACING
**************************/

#spacing {
  height:1000px;
  background:#FFF;
}



/*************************
      MEDIA QUERIES
**************************/

@media only screen and (min-device-width:320px) and (max-device-width:501px) {

  #gallery img {
  height:100px;
  width:100px;
  }

}
